<div class="container">
	<div class="row">
		<div class="col-md-9">
<h1 class="jquery">Hello jQuery!</h1>
<h1>welcome to <span class="glyphicon glyphicon-book"></span>Bookers !!</h1>
</div>
<div class="col-md-3"></div>
</div>
</div>

<footer>
	<div class="container">
		<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6"></div>
		<div class="col-md-3"><p>CopyRight Infratop.inc</p></div>
	</div>
</footer>
